@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap");
body, html {
  margin: 0;
}

body {
  height: 100%;
  font-family: 'Montserrat';
}

header {
  padding: 1em;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 2em);
  background: white;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: black;
}

header a.logo {
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  padding: 1em;
}

header nav ul a:hover {
  color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;
}

.wrapper section {
    padding: 1em;
    padding-top: 0;
}

.red-text {
    color: red;
}

.parameters ul li {     
    list-style-type: none;
    background: url('../img/arrow.svg') no-repeat left top;  
    display: block;
    background-size: 10px;
    background-position: 0 4px;
    padding-left: 1.2em

}

.date-text {
    font-size: .7em;
}

.wrapper section {
    .inner {
    }

    .api {
        padding-bottom: 1em;
        h1 {
            font-weight: inherit;
            background: #FFCC00;
            display: block;
            margin: 0 -1em 0 -1em;
            padding: 1em;
        }

        h3 {
            text-transform: uppercase;
        }

        .p-l-3 {
            padding-left: 2.5em;
        }

        .pa-1 {
            padding: 1em;
        }

        .common {
            padding: 1em;
            padding-left: 2em;

            p {
                margin: .5em;
            }
        }
    }

    .api-full {
    }

    .api-short {
    }

    .api-image {
    }
}    

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #f1f1f1;
    display: block;
    padding: 0.5em 1em;
    border: none;

}
