$primary-color: #FFCC00;
$submit-btn-bg-color: black;
$submit-btn-color: white;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

body, html {
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Montserrat';
    display: none;
}

header {
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    background: white;
    text-transform: uppercase;

    a {
        text-decoration: none;
        color: black;
    }

    a.logo {
        font-weight: bold;
        text-transform: uppercase;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;

        li a {
            padding: 1em;
        }

        a:hover {
            color: white;
        }
    }
}

.m-t-20 {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;

    section {
        padding: 3em;

        h1, h2, .read-btn {
            text-transform: uppercase;
            margin: 0;
        }  

        h2 {
            font-size: 1.4rem;
        }

        .read-btn {
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding-left: 1.4em;
            background: url('../img/arrow.svg') no-repeat;
            background-size: 16px;
            background-position: 0 1px;
        }

        .btn-download {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        .icon-apk {
            background: url('../img/android.png') no-repeat;
            background-size: 40px;
            background-position: 0 1px;
        }

        .icon-sdk {
            background: url('../img/sdk.svg') no-repeat;
            background-size: 40px;
            background-position: 0 1px;
        }
        
        .primary {
            padding: 1.5em 1.5em 1.5em calc(3em + 50px);
            background-position: 3em;
            border: 1px solid gray;
            border-width: 1px 1px 1px 0;
            display: inline-block;
            margin-top: 1em;
            margin-left: -3em;
        }

        .clipper {
            overflow: hidden;
        }
    }

    section.hero {
        padding-top: 8em;
        background: url('../img/background.jpg');
        background-size: cover;

        p {
            width: 70%;
            font-size: 1.2rem;
            margin-bottom: 1em;
        }

        h1 {
            font-size: 3rem;
        }

        a:hover {
            color: gray;
        }
    }

    section.sidebar, section.subscribe {
        font-size: .9rem;
        line-height: 1.6em;
    }

    section.sidebar {
        background-color: $primary-color;

        a:hover {
            color: white;
        }

        .read-btn {
            margin-top: 2em;
            display: block;
            background-position: 0 .3em;
        }
    }

    section.subscibe {
        input {
            width: calc(100% - 2em);
            padding: calc(1em - 2px);
            font-family: 'Montserrat';
            margin-bottom: 1em;
        }

        button {
            width: 100%;
            padding: 1em;
            background: $submit-btn-bg-color;
            color: $submit-btn-color;
            border: none;
            font-family: 'Montserrat';
            cursor: pointer;
        }

        .btn-subscribe {
            text-transform: uppercase;
            font-weight: bold; 
            font-size: .7rem;
        }
    }
}
@media only screen and (max-width: 1020px){
    section.hero {
        p {
           width: 100% !important;
        }
    }
}

@media only screen and (min-width: 768px){
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1020px){
    header {
        background: none;
    }

    .wrapper {
        grid-template-columns: 70% auto;
        grid-template-rows: 40% auto;
        grid-template-areas: 
            "hero featured"
            "hero subscribe";
        height: 100vh;
    }

    section.hero {
        grid-area: hero;
    }
      
    section {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
    }
}

@media only screen and (min-width: 1800px){
    html {
        font-size: 21px;
    }
}